* {
    font-family: sans-serif;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #F8F32B;
    --grey: #8D99AE;
    --matte: #2B2D42;
}

.nav {
    background-color: var(--black);
    color: var(--grey);
    padding: 16px;    
}

.nav-a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.nav-a:hover {
    opacity: .8;
    color: var(--grey);
}